<footer class="footer">
  <div class="footer-middle">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-lg-3">
          <div class="widget widget-about">
            <img
              src="assets/images/Logo/logo-leather.png"
              class="footer-logo"
              alt="Footer Logo"
              width="105"
              height="25"
            />
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint
              quaerat molestiae, officiis ab harum error a fuga praesentium eum
              vero.
            </p>

            <div class="social-icons">
              <a href="#" class="social-icon" target="_blank" title="Facebook"
                ><i class="icon-facebook-f"></i
              ></a>
              <a href="#" class="social-icon" target="_blank" title="Twitter"
                ><i class="icon-twitter"></i
              ></a>
              <a href="#" class="social-icon" target="_blank" title="Instagram"
                ><i class="icon-instagram"></i
              ></a>
              <a href="#" class="social-icon" target="_blank" title="Youtube"
                ><i class="icon-youtube"></i
              ></a>
              <a href="#" class="social-icon" target="_blank" title="Pinterest"
                ><i class="icon-pinterest"></i
              ></a>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-3">
          <div class="widget">
            <h4 class="widget-title">Useful Links</h4>

            <ul class="widget-list">
              <li><a href="/about">About</a></li>

              <li><a href="/faq">FAQ</a></li>
              <li><a href="/contact">Contact us</a></li>
              <li><a href="/signup_page">Log in</a></li>
            </ul>
          </div>
        </div>

        <div class="col-sm-6 col-lg-3">
          <div class="widget">
            <h4 class="widget-title">Customer Service</h4>

            <ul class="widget-list">
              <!-- <li><a href="#">Payment Methods</a></li>
                            <li><a href="#">Money-back guarantee!</a></li>
                            <li><a href="#">Returns</a></li>
                            <li><a href="#">Shipping</a></li> -->
              <li><a href="#">Terms and conditions</a></li>
              <li><a href="#">Privacy Policy</a></li>
            </ul>
          </div>
        </div>

        <div class="col-sm-6 col-lg-3">
          <div class="widget">
            <h4 class="widget-title">My Account</h4>

            <ul class="widget-list">
              <li><a href="/dashboard">Dashboard</a></li>
              <li><a href="/signup_page">Sign In</a></li>
              <li><a href="/GetAllcart">View Cart</a></li>
              <li><a href="wishlist.html">My Wishlist</a></li>
              <!-- <li><a href="#">Track My Order</a></li>
                            <li><a href="#">Help</a></li> -->
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-bottom">
    <div class="container">
      <p class="footer-copyright">
        Copyright © 2023 Digidotes. All Rights Reserved.
      </p>
      <figure class="footer-payments">
        <img
          src="assets/images/payments.png"
          alt="Payment methods"
          width="272"
          height="20"
        />
      </figure>
    </div>
  </div>
</footer>
